@use 'base/variables' as v; 
@use 'base/mixins' as m;

.ticket__container{
    background-color: v.$headerBg;
    h3{
        color: v.$white;
    }
}

.ticket{
    @include m.container;
    @include m.tablet{
        @include m.grid(2);
    }
}

.pass{
    transition: transform .3s ease-in-out;

    &:hover{
        transform:scale(1.1);
    }
    &__name{
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;
        color: v.$white;
    }
    &__header,
    &__footer{
        padding: 0.5rem;
        p{
            text-align: center;
            color: v.$white;
            margin: 0;
        }
    }
    &__header{
        background-color: v.$fstColor;
        p{
            text-transform: uppercase;
            font-size: 2.2rem;
            padding: 1rem 0;
        }
    }
    &__body{
        background-color: v.$white;
        ul{
            @include m.list__reset;
            li{
                padding: 2rem;
                border-bottom: 1px solid #e1e1e1;
            }

        }
    }
    &__footer{
        background-color: v.$white;
        padding: 3rem;
        p{
            font-size: 2.8rem;
            font-weight: 900;
            background-color: v.$trdColor;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: darken(v.$trdColor, 20);
            }
        }
    }
}